@media (max-width:576px){
	@keyframes animi{
		0%{
			transform:translatex(0px);
		}
		100%{
			transform:translatex(270px);
		}
	}
	@keyframes animi1{
		0%{
			transform:translatex(270px);
		}
		100%{
			transform:translatex(0px);
		}
	}
}
@media (min-width:576px){
	@keyframes animi{
		0%{
			transform:translatex(0px);
		}
		100%{
			transform:translatex(390px);
		}
	}
	@keyframes animi1{
		0%{
			transform:translatex(390px);
		}
		100%{
			transform:translatex(0px);
		}
	}
}
@media (min-width:768px){
	@keyframes animi{
		0%{
			transform:translatex(0px);
		}
		100%{
			transform:translatex(380px);
		}
	}
	@keyframes animi1{
		0%{
			transform:translatex(380px);
		}
		100%{
			transform:translatex(0px);
		}
	}
}
@media (min-width:1400px){
@keyframes animi{
		0%{
			transform:translatex(0);
		}
		100%{
			transform:translatex(560px);
		}
	}
@keyframes animi1{
		0%{
			transform:translatex(560px);
		}
		100%{
			transform:translatex(0px);
		}
	}
}